.App {
  text-align: center;
  z-index: 0;
  /* background: radial-gradient(
    300% 100% at top center,
    #1b2947 10%,
    var(--clr-main-darker) 100%,
  ); */
  width: 100%;
  overflow-x: hidden;
}

.main-content-wrapper{
  background-color: hsla(var(--clr-light), 1);
}