.about {
  padding: 1rem;
  background: var(--clr-main-darker);
  position: relative;
  background-color: hsla(var(--clr-light), 1);
}
.divider{
  fill: hsla(var(--clr-light), 1);
  background-color: var(--clr-main-darker);
  top: 0;
  left: 0;
  @media (max-width:750px) {
    display: none;
  }
}

.container {
  border-radius: 30px;
  padding: 2rem 1rem;
  border-radius: 50px; 
  position: relative;
  
}

.infos {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  margin-bottom: 1.5rem;

  .line {
    display: flex;
    flex-direction: column;
  }
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}



@media (max-width: 800px) {
  .skills {
    display: flex;
    flex-direction: column;
  }

  .infos {
    flex-direction: column;
  }
}
